@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//Font Family
$font-family-base: Lato;

// Font Weight
$font-weight-normal: 400 !default;
$font-weight-bold: bold !default;
$font-weight-bolder: 600 !default;
$font-weight-boldest: 700 !default;

// Font-Sizes Base
$font-sizes: (
    ss: 1.1rem,
    sm: 1.2rem,
    md: 1.6rem,
    lg: 1.8rem,
    xl: 2rem,
    xxl: 2.4rem,
);

// Colors Base
$dark: #000000 !default;
$white: #ffffff !default;
$primary: #7fbc44 !default;
$primary-hover: #669c32 !default;
$secundary: #b6116e !default;
$secundary-light: #c81a78 !default;
$secundary-hover: #8a004e !default;
$gray: #888888 !default;
$gray-dark: #666666 !default;
$gray-light: #f5f5f5 !default;
$info: #5cb79f !default;

// Box Shadow
$box-shadow-button: 0px 5px 10px rgba($dark, 0.15);
$box-shadow-bot: 0px 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-top: 0px 5px 10px rgba($dark, 0.15);

// Colors Theme Modifier
$theme-colors: (
    'white': $white,
    'gray-light': $gray-light,
    'gray-dark': $gray-dark,
) !default;

// Buttons Modifier
$buttons-colors: (
    'Gray': $gray,
    'Gray-light': $gray-light,
    'Primary': $primary,
    'Primary-Hover': $primary-hover,
    'Secundary': $secundary,
    'Secundary-Hover': $secundary-hover,
) !default;

// Buttons Modifier
$buttons-colors-hover: (
    'Primary': $primary-hover,
    'Secundaryr': $secundary-hover,
) !default;
