* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: $font-family-base;
    background: $gray-light;

    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: get($font-sizes, md);
}
