.Cart__Product {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $gray-light;
    transition: all 0.3s ease 0s;

    &__Content {
        display: flex;
        align-content: stretch;
        padding: 1.8rem;
        padding-bottom: 0;
        &__Image {
            width: 30%;
            height: 85%;
        }
        &__Info {
            width: 100%;
            display: block;
            &__Close {
                cursor: pointer;
                text-align: center;
                width: 15%;
                display: inline-block;
                text-align: center;
                &--text-light-dark {
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: $font-weight-bold;
                    font-size: get($font-sizes, md);
                    line-height: 28px;
                    text-align: right;
                    color: $gray;
                }
                &::selection {
                    background-color: none;
                }
            }
            &__Name {
                width: 85%;
                display: inline-flex;
                height: 50%;
                &--text-dark {
                    font-family: $font-family-base;
                    color: $dark;
                    font-size: get($font-sizes, md);
                    line-height: 2.6rem;
                    font-weight: $font-weight-boldest;
                }
            }
            &__Count {
                width: 50%;
                height: 40%;
                flex-direction: column-reverse;
                display: inline-flex;
                &__Box {
                    border: 0.6px solid $gray;
                    box-sizing: border-box;
                    border-radius: 3px;
                    width: 65%;
                    height: 3.5rem;
                    &__Item {
                        display: inline-flex;
                        height: 100%;
                        width: 33%;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        &--icon {
                            cursor: pointer;
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: $font-weight-bolder;
                            font-size: 2.1rem;
                            line-height: 27px;
                            text-align: center;
                            color: $gray;
                            &::selection {
                                background: none;
                            }
                        }
                        &--text-medium {
                            font-family: $font-family-base;
                            font-size: get($font-sizes, md);
                            font-style: normal;
                            font-weight: $font-weight-normal;
                            line-height: 19px;
                            letter-spacing: 0px;
                            text-align: left;
                            &::selection {
                                background: none;
                            }
                        }
                    }
                }
            }
            &__Price {
                width: 50%;
                height: 70%;

                display: inline-flex;
                justify-content: flex-end;
                &--text-medium {
                    font-family: $font-family-base;
                    font-style: normal;
                    font-weight: $font-weight-bold;
                    font-size: get($font-sizes, lg);
                    line-height: 28px;
                    text-align: right;
                    color: $secundary-light;
                }
            }
        }
    }
    &__Separator {
        border: 0.5px solid rgb(213, 213, 213);
        margin: 0px 20px;
    }
}
