.Cart {
    position: absolute;
    flex-flow: column nowrap;
    top: 0;
    right: 0;
    min-width: 400px;
    width: 20vw;
    height: 100vh;
    background-color: $white;
    z-index: 10;
    display: flex;

    &__Overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.2;
        transition: 0.5s ease;
        background-color: $dark;
    }

    &__Divisor {
        &--Top {
            box-shadow: $box-shadow-bot;
            background: $white !important;
            height: 8%;
            @media (max-width: 450px) {
                height: auto !important;
            }
        }
        &--Mid {
            display: flex;
            overflow-x: auto;
            flex-flow: column;
            height: 76%;
            &::-webkit-scrollbar {
                background: $gray-light;
                width: 0.4rem;
            }
            &::-webkit-scrollbar-thumb {
                background: #c81a78;
                border-radius: 4px;
            }
        }
        &--Bot {
            height: 16%;
            display: flex;
            justify-content: center;

            background: $white !important;
            box-shadow: $box-shadow-top;
            flex-direction: column;
            padding: 2rem;
        }
    }

    @media (max-width: 450px) {
        min-width: 100%;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
